
.cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



.pages{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  height: 10vh;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.pagination {
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
  height: vh;
  width: 100%;
}
  
.pagination__link {
  font-weight: bold;
  font-size: 25px;
}

.pagination__link__active a {
  color:#ffb627;
  font-size: 15px;
}

.pagination__link__disabled a  {
  color: grey;
  font-size: 25px;
  
}

.card { 
  display: flex; 
  justify-content:space-around;
  
  box-shadow: 0 20px 20px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  background-color: rgb(92, 160, 177);
  margin: 50px auto; 
 
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  display: flex; 
  
  
  
  
}
img {
  border-radius: 5px 5px;
}